body{
    background-image: url(fondo.jpg);
    background-attachment: fixed;
}

h1, h2{
    font-family: 'Alkatra', cursive;
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

header{
    width: 100%;
    height: 10rem;
    background-color: rgba(240, 0, 0, 0.6);
    border-radius: 1rem;
    backdrop-filter: blur(2px);
}

header h1{
    color: white;
    font-size: 3.5rem;
    float: left;
    position: relative;
    left: 3rem;
}

#logo{
    width: 12rem;
    float: right;
    position: relative;
    right: 2rem;
    top: 0.5rem;
}

#container{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 70%;
}

#container h1{
    text-align: center;
    color: white;
    font-size: 5rem;
    text-shadow: 5px 5px 5px black;
    margin-top: 0;
    margin-bottom: 2rem;
}

#container img{
    width: 15rem;
    border-style: groove;
    border-color: rgba(240, 0, 0, 0.6);
    border-width: 1rem;
    border-radius: 1rem;
    transition: all .45s ease;
}

#container img:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px black;
}

#container p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 5px 5px 5px black;
    width: 90%;
}

#container video{
    width: 70%;
    border-radius: 2rem;
    border-style: solid;
    border-width: 0.2rem;
    border-color: rgba(255, 255, 255, 0.3);
}

footer{
    width: 100%;
    height: 6rem;
    background-color: rgba(240, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    top: 2rem;
}